html {
    font-family:'SF Pro Display';
}

.navigation {
    width: 98%;
    padding:1%;
    background-color:#198D9A;
    color: white;
}

.inline-block-header{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 50% 25%;
    height:60px;
    justify-content: space-evenly;
    grid-template-areas: "navheadlines logo socialheader";
}

.navheadlines {
    display: flex;
    grid-area: navheadlines;
    margin-left: 25px;
    justify-content: space-between;
}

.logo {
    grid-area: logo;
    text-align:center;
}

.socialheader {
    grid-area: socialheader;
    text-align: right;
    margin-right: 45px;
    padding: 3.5%;
    
}

.AboutContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "headshot AboutDescription";
}

.headshot {
    grid-area: headshot;
    float:left;
    padding: 12%;
}

.AboutDescription {
    grid-area: AboutDescription;
    margin-right: 45px;
    float: left;
}

footer {
    background-color: #F2F2F2;
    width: 98%;
    padding:1%;
}

.inline-block-footer, .ul {
    display:inline-block;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    vertical-align: top;
    }

.socialfooter {
    vertical-align: top;
    height: 25%;
}

button {
    color: white;
    font-weight: bold;
    font-size: 12pt;
    background-color: #198D9A;
    border: none;
    padding: 2%;
    border-radius: 30px;
    justify-content: space-between;
}

.skillscontainer {
    background: 600px;
    background-color:#DBDBDB;
    display: flex;
    padding-left: 15px;
    justify-content: space-evenly;
}

h1 {
    font-size: 32pt;
}

.learnmore {
    font-weight: bold;
}

.inline-block-footer .copyright{
    justify-content: space-evenly;
}

h3 {
    font-size: 16pt;
align-content: stretch;}